<%= form_with(model: party, class: "form", local: true) do |form| %>
  <% if party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
        <% party.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__field">
    <%= form.label :name %>
    <span class="form__text-input-container">
      <%= form.text_field :name %>
    </span>
  </div>

  <div class="form__actions">
    <%= link_to 'Back', parties_path, class: 'button' %>
    <%= form.submit class: 'button form__actions-button' %>
  </div>
<% end %>
