<p id="notice"><%= notice %></p>
<h1>Parties</h1>

<% if @parties.any? %>
  <%= link_to 'Criar Party', new_party_path, class: 'playlist-label' %>

  <br/>

  <ul>
    <% @parties.each do |party| %>
      <li>
        <h2><%= party.name %></h2>

        <a onClick="copyToClipboard('<%= party_tracks_url(slug: party.slug) %>')">Copiar link</a>

        <a href="<%= party_tracks_path(slug: party.slug) %>">Vamooo 🎉</a>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= link_to 'Crie sua primeira pa-pa-pa-party 🎉', new_party_path, class: 'playlist-label' %>
<% end %>
