<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @party.slug %>
</p>

<p>
  <strong>User:</strong>
  <%= @party.user.name %>
</p>


<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>
