<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>User raw:</strong>
  <%= @user.user_raw %>
</p>

<p>
  <strong>Online:</strong>
  <%= @user.online %>
</p>

<p>
  <strong>Session:</strong>
  <%= @user.session_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
