<h1>Sextou</h1>
<p class="playlist-select">
  <%= link_to 'playlists', '/playlists' %>
</p>

<div class="search-container">
  <%= form_tag("/tracks/search", method: "get", class: "search-bar") do %>
  <%= text_field_tag(:track, nil , class: "search-bar") %>
  <%= submit_tag(nil,class: 'button')%>
  <button class="button"></button>
  <% end %>
</div>

<p class="playlist-label">
  <% if @playlist %>
      <%= @playlist.name %>
  <% end %>
</p>

<!-- <footer>
  <p>made in 2hours specially for meetapão</p>
</footer> -->
