<h1><%= @spotify_user.display_name %></h1>
<%= link_to 'playlists', '/playlists' %>
<% if @playlist %>
  <%= @playlist.name %>
<% end %>

<br/>
<%= link_to 'add a song by name', '/playlists/add_name' %>

<br/>
<%= link_to 'add a song by uri', '/playlists/add_uri' %>
