<h1>Sextou</h1>
<%= link_to 'playlists', '/playlists' %>
<% if @playlist %>
  <%= @playlist.name %>
<% end %>

<%= form_tag("/playlists/add_name", method: "post", class: "search-bar") do %>
  <%= label_tag(:track, "song name:") %>
  <%= text_field_tag(:track) %>
  <%= submit_tag("Search") %>
<% end %>
