<h1>Sextou é nóis</h1>
<p class="playlist-select">
  <%= link_to 'parties', '/parties' %>
</p>

<div class="search-container">
  <%= form_tag(party_tracks_path(@party_slug), method: "get", class: "search-bar") do %>
  <%= text_field_tag(:track_name, nil , class: "search-bar") %>
  <%= submit_tag(nil,class: 'button')%>
  <button class="button"></button>
  <% end %>
</div>

<p class="playlist-label">
  <%= @party.name %>
</p>
<br/>
<% if @tracks.any? %>
    <ul>
      <% @tracks.each do |track| %>
      <li>
        <h2><%= track.name %> (<%= track.artists[0].name %>)</h2>
        <%= link_to 'add to playlist', party_tracks_path(@party_slug, track_id: track.id), method: :post %>
      </li>
      <% end %>
    </ul>
<% else %>
    <h2>There are no songs with this name. :-(</h2>
<% end %>
