<h1 class="title">Snapshot</h1>
<p id="notice"><%= notice %></p>

<p class="subheading">
  <%= link_to 'home', '/' %>
</p>

<% if @playlists.any? %>
  <ul class="list">
    <% if @next_page == 2 %>
      <%= form_tag(snapshot_index_path, class: "snapshots__form-list form list__item", local: true) do %>
        <div class="snapshots__form-list-item form__field">
          <%= label_tag :link %>
          <span class="form__text-input-container">
            <%= text_field_tag :link %>
          </span>
        </div>

        <div class="form__actions">
          <%= submit_tag 'snapshot!', class: 'button button--listing form__actions-button' %>
        </div>
      <% end %>
    <% end %>

    <% @playlists.each do |playlist| %>
      <li class="list__item">
        <h2 class="list__item-title"><%= playlist.name %></h2>
        <%= link_to 'selecionar', snapshot_index_path(playlist_id: playlist.id), method: :post, class: 'button button--listing' %>
      </li>
    <% end %>
  </ul>

  <% if @playlists.count == @per_page %>
    <%= link_to 'mais >', snapshot_index_path(page: @next_page), class: 'button' %>
  <% end %>
<% else %>
  <h2>You don't follow any playlist 🤔</h2>
<% end %>
