<!DOCTYPE html>
<html>
  <head>
    <title>Sextou</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>


    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Marck+Script'>
    <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'></link>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <section class="content">
      <%= yield %>
    </section>

    <%= render 'partials/footer'%>
  </body>
</html>
